<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="logo.png" alt="ESPORTSMANIA" style="height: 100px;">
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- Aquí aplicamos la clase sidebar -->
<div class="nav-scrollable sidebar" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link neon-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu me-2" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link neon-link" href="40000">
                <img src="LOL_Logo.png" alt="Reto LoL" style="height: 20px; width: 20px; margin-right: 8px;" />
                Reto LoL
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link neon-link" href="weather">
                <span class="bi bi-list-nested-nav-menu me-2" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>